{% extends 'base.html.twig' %}

{% block title %}PacienteCondiciones index{% endblock %}

{% block body %}
    <h1>PacienteCondiciones index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FechaAparicion</th>
                <th>FechaFinalizada</th>
                <th>Estado</th>
                <th>Observaciones</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paciente_condicione in paciente_condiciones %}
            <tr>
                <td>{{ paciente_condicione.id }}</td>
                <td>{{ paciente_condicione.fechaAparicion ? paciente_condicione.fechaAparicion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ paciente_condicione.fechaFinalizada ? paciente_condicione.fechaFinalizada|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ paciente_condicione.estado }}</td>
                <td>{{ paciente_condicione.observaciones }}</td>
                <td>
                    <a href="{{ path('app_paciente_condiciones_show', {'id': paciente_condicione.id}) }}">show</a>
                    <a href="{{ path('app_paciente_condiciones_edit', {'id': paciente_condicione.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_paciente_condiciones_new') }}">Create new</a>
{% endblock %}
