{% extends 'base.html.twig' %}

{% block title %}Ciudades{% endblock %}

{% block titlewrap %}
    Ciudades
{% endblock %}

{% block breadcrumb %}
    {#<li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Home</a></li>#}
    <li class="breadcrumb-item active" aria-current="page">Ciudades</li>
{% endblock %}

{% block body %}
    <div class="card card-primary card-outline mb-4">
        <div class="card-header">
            <h3 class="card-title">Ciudades</h3>
        </div>

        <div class="card-body p-0">
            <table class="table table-striped dtHere">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Poblacion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for ciudad in ciudads %}
                    <tr class="align-middle">
                        <td>{{ ciudad.id }}</td>
                        <td>{{ ciudad.nombre }}</td>
                        <td>{{ ciudad.poblacion }}</td>
                        <td>
                            <a class="btn btn-secondary" href="{{ path('app_ciudad_show', {'id': ciudad.id}) }}">
                                <i class="bi bi-search"></i> Detalles
                            </a>
                            <a class="btn btn-success" href="{{ path('app_ciudad_edit', {'id': ciudad.id}) }}">
                                <i class="bi bi-pencil-square"></i> Editar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <br>

        <div class="card-footer clearfix">
            <a href="{{ path('app_ciudad_new') }}" class="btn btn-primary btn-lg"><i class="bi bi-plus-circle-fill"></i> Nuevo</a>
        </div>
    </div>
{% endblock %}
