{% extends 'loginBase.html.twig' %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3 alert alert-danger">
                Tienes sesion iniciada como {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Cerrar Sesion</a>
            </div>
        {% endif %}
        <div class="input-group mb-3">
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            {#<label for="username">Email</label>#}
            <div class="input-group-text"><span class="bi bi-envelope"></span></div>
        </div>
        <div class="input-group mb-3">
            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
            {#<label for="password">Password</label>#}
            <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
        </div>



        <div class="row">
            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="col-8">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="_remember_me" id="_remember_me">
                    <label class="form-check-label" for="_remember_me"> Remember Me </label>
                </div>
            </div>
            #}
            <!-- /.col -->
            <div class="col-12">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </form>
{% endblock %}
