{% extends 'base.html.twig' %}

{% block title %}Solicitudes de Citas{% endblock %}

{% block titlewrap %}
    Solicitudes de Citas
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Solicitudes de Citas</li>
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                <i class="bi bi-info-circle-fill me-2"></i> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="card card-primary card-outline mb-4">
        <div class="card-header">
            <h3 class="card-title">Solicitudes de Citas Registradas</h3>
        </div>

        <div class="card-body">
            <table class="table table-striped dtHere">
                <thead>
                <tr>
                    <th>Especialidad</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                    <th>Creado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.especialidad.nombre }}</td>
                            <td>{{ entity.motivoConsulta }}</td>
                            <td>
                                {% set badge = entity.citasSolicitudesEstadosBadgeConfig %}
                                <span class="badge rounded-pill {{ badge.class }}">
                                    {{ badge.label }}
                                </span>
                            </td>
                            <td>{{ entity.created|date('d/m/Y') }} <i>{{ entity.created|time_ago }}</i></td>
                            <td>
                                <a class="btn btn-secondary" href="{{ path('app_citas_solicitudes_show', {'uuid': entity.uuid}) }}">Detalles</a>
                                {% if entity.estadoSolicitud.value == 'pending' %}
                                    <a class="btn btn-success" href="{{ path('app_citas_solicitudes_edit', {'uuid': entity.uuid}) }}">Editar</a>
                                    <form action="{{ path('app_citas_solicitudes_cancelar', {'uuid': entity.uuid}) }}"
                                          method="POST"
                                          data-controller="confirm-finalizar"
                                          data-action="submit->confirm-finalizar#confirm"
                                          data-confirm-finalizar-title-value="¿Desea cancelar la Solicitud?"
                                          data-confirm-finalizar-text-value="Una vez cancelada, no podrá ser asignado una cita y deberá hacer la solicitud de nuevo."
                                          data-confirm-finalizar-confirm-button-text-value="Sí, cancelar cita"
                                          class="d-inline">

                                        <button type="submit" class="btn btn-danger">
                                            <i class="bi bi-calendar-x"></i> Cancelar Cita
                                        </button>
                                    </form>
                                {% elseif entity.estadoSolicitud.value == 'scheduled' %}
                                    <a class="btn btn-danger" target="_blank" href="{{ path('app_citas_solicitudes_voucher', {'uuid': entity.uuid}) }}">
                                        <i class="bi bi-file-pdf"></i> Generar Comprobante
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="card-footer clearfix">
            <a href="{{ path('app_citas_solicitudes_new') }}" class="btn btn-primary btn-lg"><i class="bi bi-plus-circle-fill"></i> Nuevo</a>
        </div>
    </div>

{% endblock %}
