{% extends 'base.html.twig' %}

{% block title %}Consulta{% endblock %}

{% block titlewrap %}
    Detalles
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_consulta_index') }}">Consultas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalles Consulta</li>
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                <i class="bi bi-info-circle-fill me-2"></i> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="photo-container">
                                {% if paciente.foto %}
                                    {% set full_photo_path = paciente_photo_path ~ paciente.foto %}
                                    <img
                                        src="{{ asset(full_photo_path) | imagine_filter('patient_profile') }}"
                                        alt="{{ paciente.nombre }} Profile Photo"
                                        class="img-fluid"
                                        style="cursor: pointer; height: auto; border-radius: 0%; width: 100%;"
                                        data-original="{{ asset(full_photo_path) | imagine_filter('patient_viewer_full') }}"
                                    >
                                {% else %}
                                    <p>No hay foto de perfil cargada.</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <h2>
                                    {{ paciente.nombre }} {{ paciente.apellido }}
                                    {% if paciente.sexo == 'M' %}
                                        <i class="bi bi-gender-male" style="color: #2563EB"></i>
                                    {% else %}
                                        <i class="bi bi-gender-female" style="color: darkmagenta"></i>
                                    {% endif %}
                                </h2>

                                <h4>
                                    {{ paciente.fechaNacimiento|calculate_age }} a침o(s) ( {{ paciente.fechaNacimiento|date('d-m-Y') }} )
                                </h4>

                                <h4>
                                    <span class="badge rounded-pill text-bg-secondary">{{ paciente.tipoDocumento|title }} - {{ paciente.cedula|number_format(0, '', '.') }}</span>
                                </h4>
                            </div>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseContact" aria-expanded="false" aria-controls="collapseContact">
                                            <i class="bi bi-telephone" style="color: crimson"></i> &nbsp;Informaci칩n de Contacto
                                        </button>
                                    </h2>
                                    <div id="collapseContact" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                                        <div class="accordion-body">
                                            <h4>
                                                <i class="bi bi-telephone" style="color: crimson"></i> <i class="bi bi-arrow-right" style="color: grey"></i> {{ paciente.telefono }}
                                            </h4>
                                            <h4>
                                                <i class="bi bi-envelope-at" style="color: dodgerblue"></i> <i class="bi bi-arrow-right" style="color: grey"></i> {{ paciente.correo }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDirect" aria-expanded="false" aria-controls="collapseDirect">
                                            <i class="bi bi-building-fill" style="color: forestgreen"></i> &nbsp;Direcci칩n
                                        </button>
                                    </h2>
                                    <div id="collapseDirect" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                                        <div class="accordion-body">
                                            {{ paciente.direccion }}
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMoreInfo" aria-expanded="false" aria-controls="collapseMoreInfo">
                                            <i class="bi bi-three-dots-vertical"></i> &nbsp; Mas Informaci칩n
                                        </button>
                                    </h2>
                                    <div id="collapseMoreInfo" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                                        <div class="accordion-body">
                                            Registrado el <strong>{{ paciente.created|date('d-m-Y') }}</strong> <i>({{ paciente.created|time_ago }})</i> por <strong>{{ paciente.uidCreate|public_username|title }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card card-primary card-outline mb-4">

            {{ include('consulta/_showPacienteTabs.html.twig') }}
        </div>
    </div>
{% endblock %}
