{% extends 'registerBase.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {#<div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Full Name" />
            <div class="input-group-text"><span class="bi bi-person"></span></div>
        </div>#}
        <div class="input-group mb-3">
            {{ form_widget(registrationForm.email) }}
            <div class="input-group-text">
                <span class="bi bi-envelope"></span>
            </div>
        </div>
        <div class="input-group mb-3">
            {{ form_widget(registrationForm.plainPassword) }}
            <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
        </div>
        <!--begin::Row-->
        <div class="row">
            <div class="col-8">
                <div class="form-check">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{form_label( registrationForm.agreeTerms ) }}
                </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!--end::Row-->
    {{ form_end(registrationForm) }}
{% endblock %}
