<nav class="app-header navbar navbar-expand bg-body" id="navigation" tabindex="-1">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Start Navbar Links-->
        <ul class="navbar-nav" role="navigation" aria-label="Navigation 1">
            <li class="nav-item">
                <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
                    <i class="bi bi-list"></i>
                </a>
            </li>
        </ul>
        <!--end::Start Navbar Links-->

        <!--begin::End Navbar Links-->
        <ul class="navbar-nav ms-auto" role="navigation" aria-label="Navigation 2">
            <!--begin::Navbar Search-->

            <!--end::Fullscreen Toggle-->

            <!--begin::User Menu Dropdown-->
            {# Define variables at the start for cleanliness #}
            {% set display_name = app.user.displayName %}
            {% set role_label = app.user.displayRoleLabel %}

            {# Define avatar url #}
            {% if app.user.avatarUrl starts with 'http' %}
                {# It is a Google/External URL, leave this trash as it is #}
                {% set final_src = app.user.avatarUrl %}
                {% set original_src = app.user.avatarUrl %}
            {% else %}
                {# It is a Local File, apply filters and services  #}
                {% set full_photo_path = paciente_photo_path ~ app.user.avatarUrl %}
                {% set final_src = asset(full_photo_path) | imagine_filter('patient_profile') %}
                {% set original_src = asset(full_photo_path) | imagine_filter('patient_viewer_full') %}
            {% endif %}
            {% set avatar = final_src|default('build/assets/img/user2-160x160.jpg') %}

            <li class="nav-item dropdown user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img
                        src="{{ asset(avatar) }}"
                        class="rounded-circle"
                        alt="User Image"
                        style="cursor: pointer; width: 30px; height: 30px; border-radius: 100%;"
                    >
                    <span class="d-none d-md-inline">{{ display_name }}</span>
                </a>

                <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                    <li class="user-header text-bg-dark">
                        <img src="{{ asset(avatar) }}" class="rounded-circle shadow" alt="User Image">
                        <p>
                            {{ display_name }}
                            <small>{{ role_label }}</small>
                            <small>Registrado desde {{ app.user.created|time_since }}</small>
                        </p>
                    </li>

                    <li class="user-footer">
                        {% if is_granted('ROLE_INTERNAL') %}
                            <a href="#" class="btn btn-primary btn-flat">Mi Perfil</a>
                        {% else %}
                            <a href="{{ path('my_profile_show', {'uuid': app.user.externalProfile.uuid}) }}" class="btn btn-success btn-flat">Mi Perfil</a>
                        {% endif %}

                        <a href="{{ path('app_logout') }}" class="btn btn-danger btn-flat float-end">Salir</a>
                    </li>
                </ul>
            </li>
            <!--end::User Menu Dropdown-->
        </ul>
        <!--end::End Navbar Links-->
    </div>
    <!--end::Container-->
</nav>
