{% extends 'base.html.twig' %}

{% block title %}Camas{% endblock %}

{% block titlewrap %}
    Camas
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Camas</li>
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                <i class="bi bi-info-circle-fill me-2"></i> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="card card-primary card-outline mb-4">
        <div class="card-header">
            <h3 class="card-title">Camas</h3>
        </div>

        <div class="card-body">
            <table class="table table-striped dtHere">
                <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Habitacion</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr class="align-middle">
                        <td>{{ entity.codigo }}</td>
                        <td>{{ entity.habitacion }}</td>
                        <td>
                            {% set badge = entity.estadosBadgeConfig %}
                            <span class="badge rounded-pill {{ badge.class }}">
                                    {{ badge.label }}
                            </span>
                        </td>
                        <td>
                            {#<a class="btn btn-secondary" href="{{ path('app_hospitalizacioncama_show', {'id': entity.id}) }}">Detalles</a>#}
                            {% if entity.estado.value != 'ocupied' %}
                                <a class="btn btn-success" href="{{ path('app_hospitalizacioncama_edit', {'id': entity.id}) }}">Editar</a>

                                {% if entity.estado.value == 'available' %}
                                    <form action="{{ path('app_hospitalizacioncama_cleaning', {'id': entity.id}) }}"
                                          method="POST"
                                          data-controller="confirm-finalizar"
                                          data-action="submit->confirm-finalizar#confirm"
                                          data-confirm-finalizar-title-value="¿Solicitar Limpieza?"
                                          data-confirm-finalizar-text-value="¿Desea solicitar la limpieza? Esto no permitirá que sea elegible para hospitalizaciones."
                                          data-confirm-finalizar-confirm-button-text-value="Sí, solicitar limpieza"
                                          class="d-inline">

                                        <button type="submit" class="btn btn-warning">
                                            <i class="fa-solid fa-broom"></i> Solicitar Limpieza
                                        </button>
                                    </form>
                                    <form action="{{ path('app_hospitalizacioncama_maintenance', {'id': entity.id}) }}"
                                          method="POST"
                                          data-controller="confirm-finalizar"
                                          data-action="submit->confirm-finalizar#confirm"
                                          data-confirm-finalizar-title-value="¿Mandar a Mantenimiento?"
                                          data-confirm-finalizar-text-value="¿Desea mandar la cama a mantenimiento? Esto no permitirá que sea elegible para hospitalizaciones."
                                          data-confirm-finalizar-confirm-button-text-value="Sí, mandar a Mantenimiento"
                                          class="d-inline">

                                        <button type="submit" class="btn btn-danger">
                                            <i class="bi bi-x-circle"></i> Mandar a Mantenimiento
                                        </button>
                                    </form>
                                {% elseif entity.estado.value == 'cleaning' %}
                                    <form action="{{ path('app_hospitalizacioncama_finish_cleaning', {'id': entity.id}) }}"
                                          method="POST"
                                          data-controller="confirm-finalizar"
                                          data-action="submit->confirm-finalizar#confirm"
                                          data-confirm-finalizar-title-value="¿Finalizar la Limpieza?"
                                          data-confirm-finalizar-text-value="Si la cama ya esta limpia puede finalizar la limpieza y la cama estará disponible para que sea elegible para hospitalizaciones."
                                          data-confirm-finalizar-confirm-button-text-value="Sí, finalizar"
                                          class="d-inline">

                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa-solid fa-broom"></i> Finalizar Limpieza
                                        </button>
                                    </form>
                                    <form action="{{ path('app_hospitalizacioncama_maintenance', {'id': entity.id}) }}"
                                          method="POST"
                                          data-controller="confirm-finalizar"
                                          data-action="submit->confirm-finalizar#confirm"
                                          data-confirm-finalizar-title-value="¿Mandar a Mantenimiento?"
                                          data-confirm-finalizar-text-value="¿Desea mandar la cama a mantenimiento? Esto no permitirá que sea elegible para hospitalizaciones."
                                          data-confirm-finalizar-confirm-button-text-value="Sí, mandar a Mantenimiento"
                                          class="d-inline">

                                        <button type="submit" class="btn btn-danger">
                                            <i class="bi bi-x-circle"></i> Mandar a Mantenimiento
                                        </button>
                                    </form>
                                {% elseif entity.estado.value == 'maintenance' %}
                                    <form action="{{ path('app_hospitalizacioncama_reactivate', {'id': entity.id}) }}"
                                          method="POST"
                                          data-controller="confirm-finalizar"
                                          data-action="submit->confirm-finalizar#confirm"
                                          data-confirm-finalizar-title-value="¿Reactivar la Cama?"
                                          data-confirm-finalizar-text-value="La cama estará disponible para que sea elegible para hospitalizaciones."
                                          data-confirm-finalizar-confirm-button-text-value="Sí, reactivar"
                                          class="d-inline">

                                        <button type="submit" class="btn btn-success">
                                            <i class="fa-solid fa-screwdriver"></i> Reactivar Cama
                                        </button>
                                    </form>
                                {% endif %}

                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="card-footer clearfix">
            <a href="{{ path('app_hospitalizacioncama_new') }}" class="btn btn-primary btn-lg"><i class="bi bi-plus-circle-fill"></i> Nuevo</a>
        </div>
    </div>
{% endblock %}
