<tr class="new-row" id="emergencia-{{ emergencia.id }}">
    <td>{{ emergencia.fechaIngreso|date('d/m/Y H:i') }} ({{ emergencia.fechaIngreso|time_ago }})</td>
    <td>
        {% if emergencia.paciente %}
            <strong>{{ emergencia.paciente.nombre }} {{ emergencia.paciente.apellido }}</strong>
        {% else %}
            <strong class="text-danger"><i class="bi bi-incognito"></i> {{ emergencia.pacienteTemporal }}</strong>
        {% endif %}
    </td>
    <td>
        <a href="{{ path('app_emergencia_triage_new', {id: emergencia.id}) }}" class="btn btn-lg btn-danger">
            Hacer Triaje
        </a>
    </td>
</tr>
