{% extends 'base.html.twig' %}

{% block title %}HorarioVisitas{% endblock %}

{% block body %}
    <h1>HorarioVisitas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ horario_visita.id }}</td>
            </tr>
            <tr>
                <th>DiaSemana</th>
                <td>{{ horario_visita.diaSemana }}</td>
            </tr>
            <tr>
                <th>HoraInicio</th>
                <td>{{ horario_visita.horaInicio ? horario_visita.horaInicio|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HoraFin</th>
                <td>{{ horario_visita.horaFin ? horario_visita.horaFin|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UidCreate</th>
                <td>{{ horario_visita.uidCreate }}</td>
            </tr>
            <tr>
                <th>UidUpdate</th>
                <td>{{ horario_visita.uidUpdate }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ horario_visita.created ? horario_visita.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ horario_visita.updated ? horario_visita.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_horario_visitas_index') }}">back to list</a>

    <a href="{{ path('app_horario_visitas_edit', {'id': horario_visita.id}) }}">edit</a>

    {{ include('horario_visitas/_delete_form.html.twig') }}
{% endblock %}
