{% extends 'base.html.twig' %}

{% block title %}Citas index{% endblock %}

{% block body %}
    <h1>Citas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>HoraInicio</th>
                <th>HoraFin</th>
                <th>UidCreate</th>
                <th>UidUpdate</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cita in citas %}
            <tr>
                <td>{{ cita.id }}</td>
                <td>{{ cita.fecha ? cita.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ cita.horaInicio ? cita.horaInicio|date('H:i:s') : '' }}</td>
                <td>{{ cita.horaFin ? cita.horaFin|date('H:i:s') : '' }}</td>
                <td>{{ cita.uidCreate }}</td>
                <td>{{ cita.uidUpdate }}</td>
                <td>{{ cita.created ? cita.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cita.updated ? cita.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_citas_show', {'id': cita.id}) }}">show</a>
                    <a href="{{ path('app_citas_edit', {'id': cita.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_citas_new') }}">Create new</a>
{% endblock %}
