{% extends 'base.html.twig' %}

{% block title %}Gestion de Pacientes{% endblock %}

{% block titlewrap %}
    Pacientes
{% endblock %}

{% block breadcrumb %}
    {#<li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Home</a></li>#}
    <li class="breadcrumb-item active" aria-current="page">Pacientes</li>
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                <i class="bi bi-info-circle-fill me-2"></i> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="card card-primary card-outline mb-4">
        <div class="card-header">
            <h3 class="card-title">Pacientes Registrados</h3>
        </div>

        <div class="card-body">
            <table class="table table-striped dtHere">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cedula</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Direccion</th>
                    {#<th>Edad</th>
                    <th>Creado</th>#}
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for paciente in pacientes %}
                    <tr class="align-middle">
                        <td>
                            {% if paciente.foto %}
                                {% set full_photo_path = paciente_photo_path ~ paciente.foto %}
                                <img
                                    src="{{ asset(full_photo_path) | imagine_filter('patient_thumb') }}"
                                    alt="{{ paciente.nombre }} Thumbnail Photo"
                                    style="cursor: pointer; max-width: 50px; height: auto; border-radius: 100%;"
                                >
                            {% else %}
                                <p>---</p>
                            {% endif %}
                        </td>
                        <td>{{ paciente.nombre }}</td>
                        <td>{{ paciente.apellido }}</td>
                        <td>{{ paciente.cedula }}</td>
                        <td>{{ paciente.telefono }}</td>
                        <td>{{ paciente.correo }}</td>
                        <td>{{ paciente.direccion }}</td>
                        {#<td>{{ paciente.fechaNacimiento|calculate_age }}</td>
                        <td>{{ paciente.created|time_ago }}</td>#}
                        <td>
                            <a class="btn btn-secondary" href="{{ path('app_paciente_show', {'id': paciente.id}) }}">
                                <i class="bi bi-search"></i> Detalles
                            </a>
                            <a class="btn btn-success" href="{{ path('app_paciente_edit', {'id': paciente.id}) }}">
                                <i class="bi bi-pencil-square"></i> Editar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <br>

        <div class="card-footer clearfix">
            <a href="{{ path('app_paciente_new') }}" class="btn btn-primary btn-lg"><i class="bi bi-plus-circle-fill"></i> Nuevo</a>
        </div>
    </div>
{% endblock %}
