{% extends 'base.html.twig' %}

{% block title %}Paciente{% endblock %}

{% block body %}
    <h1>Paciente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paciente.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ paciente.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ paciente.apellido }}</td>
            </tr>
            <tr>
                <th>Cedula</th>
                <td>{{ paciente.cedula }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ paciente.telefono }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ paciente.correo }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ paciente.direccion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_paciente_index') }}">back to list</a>

    <a href="{{ path('app_paciente_edit', {'id': paciente.id}) }}">edit</a>

    {{ include('paciente/_delete_form.html.twig') }}
{% endblock %}
