{% extends 'base.html.twig' %}

{% block title %}Detalles{% endblock %}

{% block titlewrap %}
    Detalles
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('app_condiciones_index') }}">Condiciones</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalles</li>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card card-primary card-outline mb-4">
            <div class="card-body">
                <div class="mb-3">
                    <h3>{{ entity.nombre }}</h3>
                </div>
                <div class="mb-3">
                    <h3>{{ entity.descripcion }}</h3>
                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-primary" href="{{ path('app_condiciones_index') }}">
                                <i class="bi bi-arrow-left"></i> Volver
                            </a>

                            <a class="btn btn-success" href="{{ path('app_condiciones_edit', {'id': entity.id}) }}">
                                <i class="bi bi-pencil-square"></i> Editar
                            </a>

                            <div class="d-flex">
                                <button class="btn btn-danger"
                                        onclick="softDeleteRecord(
                                            '{{ path('app_condiciones_delete', {'id': entity.id}) }}',
                                            '{{ csrf_token('delete' ~ entity.id) }}'
                                            )">
                                    <i class="bi bi-trash"></i> Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
