{% extends 'base.html.twig' %}

{% block title %}Estadísticas de Citas{% endblock %}

{% block titlewrap %}
    Estadísticas de Citas
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Estadísticas de Citas</li>
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                <i class="bi bi-info-circle-fill me-2"></i> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="card card-primary card-outline mb-4">
        <div class="card-body">
            <form method="get" action="{{ path('app_citas_estadisticas_list') }}" class="row g-3 mb-4">
                <div class="row">
                    <div class="col-md-3">
                        <label>Desde</label>
                        <input type="date" name="startDate" value="{{ startDate }}" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label>Hasta</label>
                        <input type="date" name="endDate" value="{{ endDate }}" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label>Estado</label>
                        <select name="state" class="form-control noSrchSelect">
                            <option value="expected" {{ currentState == 'expected' ? 'selected' }}>Pendientes</option>
                            <option value="checked_in" {{ currentState == 'checked_in' ? 'selected' }}>En Espera</option>
                            <option value="finalized" {{ currentState == 'finalized' ? 'selected' }}>Finalizadas</option>
                            <option value="canceled" {{ currentState == 'cancelled' ? 'selected' }}>Canceladas</option>
                            <option value="all" {{ currentState == 'all' ? 'selected' }}>Todas las Citas</option>
                        </select>
                    </div>
                    <div class="col-md-3 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                        <a href="{{ path('app_citas_index_list') }}" class="btn btn-secondary ms-2">Limpiar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if chartData %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon text-bg-warning shadow-sm">
                            <i class="bi bi-person-fill-exclamation"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">Citas Pendientes</span>
                            <span class="info-box-number">
                                    {{ cardData['expected'] }}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon text-bg-primary shadow-sm">
                            <i class="bi bi-person-fill-down"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">Citas En Espera</span>
                            <span class="info-box-number">
                                {{ cardData['checked_in'] }}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon text-bg-success shadow-sm">
                            <i class="bi bi-person-fill-check"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">Citas Finalizadas</span>
                            <span class="info-box-number">
                                {{ cardData['completed'] }}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon text-bg-danger shadow-sm">
                            <i class="bi bi-person-fill-x"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">Citas Canceladas</span>
                            <span class="info-box-number">
                                {{ cardData['canceled'] }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Row-->
        </div>

        <div class="card">
            <div class="card-body">
                <div
                    style="position: relative; height: 300px;"
                    data-controller="citagroupdaychart"
                    data-citagroupdaychart-labels-value="{{ chartData.labels|json_encode }}"
                    data-citagroupdaychart-datasets-value="{{ chartData.datasets|json_encode }}"
                >
                    <canvas id="appointmentsChart"></canvas>
                </div>
            </div>
        </div>
    {% endif %}

    <br>

    <div class="card card-primary card-outline mb-4">
        <div class="card-header">
            <h3 class="card-title">Citas</h3>
        </div>

        <div class="card-body">
            <table class="table table-striped dtHere">
                <thead>
                <tr>
                    <th>Especialidad</th>
                    <th>Consultorio</th>
                    <th>Paciente</th>
                    <th>Fecha</th>
                    <th>Inicio-Fin</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr class="align-middle">
                        <td>{{ entity.especialidad.nombre }}</td>
                        <td>{{ entity.consultorio.nombre }}</td>
                        <td>{{ entity.paciente.nombre }} {{ entity.paciente.apellido }}</td>
                        <td>{{ entity.fecha|date('d/m/Y', false) }}</td>
                        <td>{{ entity.horaInicio|date('H:i', false) }} - {{ entity.horaFin|date('H:i', false) }}</td>
                        <td>
                            {% if entity.estadoCita.value == 'expected' %}
                                <span class="badge rounded-pill bg-warning">Esperado</span>
                            {% elseif entity.estadoCita.value == 'checked_in' %}
                                {% set badge = entity.consulta.consultaEstadosBadgeConfig %}
                                    <span class="badge rounded-pill {{ badge.class }}">{{ badge.label }}</span>
                            {% elseif entity.estadoCita.value == 'completed' %}
                                <span class="badge rounded-pill bg-success">Completada</span>
                            {% elseif entity.estadoCita.value == 'canceled' %}
                                <span class="badge rounded-pill bg-danger">Cancelada</span>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-secondary" href="{{ path('app_citas_show', {'id': entity.id}) }}">Detalles</a>
                            {% if entity.estadoCita.value == 'expected' %}
                                <form action="{{ path('app_citas_checkin', {'id': entity.id}) }}"
                                      method="POST"
                                      data-controller="confirm-finalizar"
                                      data-action="submit->confirm-finalizar#confirm"
                                      data-confirm-finalizar-title-value="¿Confirmar Llegada?"
                                      data-confirm-finalizar-text-value="¿El paciente {{ entity.paciente.nombre }} ya se encuentra en las instalaciones? Esto creará una consulta en la lista de espera del médico."
                                      data-confirm-finalizar-confirm-button-text-value="Sí, Ingresar"
                                      class="d-inline">

                                    <button type="submit" class="btn btn-success">
                                        <i class="bi bi-person-check-fill"></i> Anunciar Llegada
                                    </button>
                                </form>
                                <form action="{{ path('app_citas_canceled', {'id': entity.id}) }}"
                                      method="POST"
                                      data-controller="cancel-appointment"
                                      data-action="submit->cancel-appointment#confirm"
                                      data-cancel-appointment-patient-name-value="{{ entity.paciente.nombre }} {{ entity.paciente.apellido }}"
                                      class="d-inline">

                                    <button type="submit" class="btn btn-danger">
                                        <i class="bi bi-person-x-fill"></i> Cancelar Cita
                                    </button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="card-footer clearfix">
            {#<a href="{{ path('app_citas_configuraciones_new') }}" class="btn btn-primary btn-lg"><i class="bi bi-plus-circle-fill"></i> Nuevo</a>#}
        </div>
    </div>
{% endblock %}
