{% extends 'base.html.twig' %}

{% block title %}Medicamentos index{% endblock %}

{% block body %}
    <h1>Medicamentos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Miligramos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medicamento in medicamentos %}
            <tr>
                <td>{{ medicamento.id }}</td>
                <td>{{ medicamento.nombre }}</td>
                <td>{{ medicamento.descripcion }}</td>
                <td>{{ medicamento.miligramos }}</td>
                <td>
                    <a href="{{ path('app_medicamentos_show', {'id': medicamento.id}) }}">show</a>
                    <a href="{{ path('app_medicamentos_edit', {'id': medicamento.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_medicamentos_new') }}">Create new</a>
{% endblock %}
