{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block titlewrap %}
    Usuarios
{% endblock %}

{% block breadcrumb %}
    {#<li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Home</a></li>#}
    <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
{% endblock %}

{% block body %}
    <h1>Usuarios</h1>

    <table class="table dtHere">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Ciudad</th>
                <th>Direccion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empleado in empleados %}
            <tr>
                <td>{{ empleado.id }}</td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.apellido }}</td>
                <td>{{ empleado.telefono }}</td>
                <td>{{ empleado.ciudad }}</td>
                <td>{{ empleado.direccion }}</td>
                <td>
                    <a href="{{ path('app_empleado_show', {'id': empleado.id}) }}">show</a>
                    <a href="{{ path('app_empleado_edit', {'id': empleado.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Sin registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_empleado_new') }}">Crear Nuevo</a>
    <div>
        <div id="calendar"></div>
    </div>
{% endblock %}
