{% extends 'base.html.twig' %}

{% block title %}Auditoria{% endblock %}

{% block titlewrap %}
    Auditoria
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Auditoria</li>
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                <i class="bi bi-info-circle-fill me-2"></i> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="card card-primary card-outline mb-4">
        <div class="card-body">
            <form method="get" action="{{ path('app_auditoria_index') }}" class="row g-3 mb-4">
                <div class="row">
                    <div class="col-md-2">
                        <label>Desde</label>
                        <input type="date" name="startDate" value="{{ startDate }}" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label>Hasta</label>
                        <input type="date" name="endDate" value="{{ endDate }}" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label>Accion</label>
                        <select name="state" class="form-control srchSelect">
                            {% for state in tipos %}
                                <option value="{{ state.value }}" {{ currentState == state.value ? 'selected' }}>{{ state.readableText }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Usuarios</label>
                        <select name="user" class="form-control srchSelect">
                            <option value="" {{ currentUser == '' ? 'selected' }}>Todos</option>
                            {% for usuario in usuarios %}
                                <option value="{{ usuario.id }}" {{ currentUser == usuario.id ? 'selected' }}>{{ usuario.id|public_username_email|title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                        <a href="{{ path('app_auditoria_index') }}" class="btn btn-secondary ms-2">Limpiar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br>

    <div class="card card-primary card-outline mb-4">
        <div class="card-header">
            <h3 class="card-title">Auditoria</h3>
        </div>

        <div class="card-body">
            <table class="table table-striped dtHere">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Tipo</th>
                    <th>Detalles</th>
                    <th>Direccion Ip</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr class="align-middle">
                        <td>{{ loop.index }}</td>
                        <td>{{ entity.tipoAudit.getReadableText }}</td>
                        <td>{{ entity.descripcion }}</td>
                        <td>{{ entity.direccionIp }}</td>
                        <td>{{ entity.uidCreate|public_username|title }}</td>
                        <td><strong>{{ entity.created|date('d-m-Y H:i') }}</strong> <i>({{ entity.created|time_ago }})</i></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
