{% extends 'base.html.twig' %}

{% block title %}Zonas{% endblock %}

{% block titlewrap %}
    Zonas
{% endblock %}

{% block breadcrumb %}
    {#<li class="breadcrumb-item"><a href="{{ path('app_dashboard') }}">Home</a></li>#}
    <li class="breadcrumb-item active" aria-current="page">Zonas</li>
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                <i class="bi bi-info-circle-fill me-2"></i> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="card card-primary card-outline mb-4">
        <div class="card-header">
            <h3 class="card-title">Zonas Registrados</h3>
        </div>

        <div class="card-body">
            <table class="table table-striped dtHere">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Capacidad Maxima</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr class="align-middle">
                        <td>{{ entity.nombre }}</td>
                        <td>{{ entity.capacidadMaxima }}</td>
                        <td>{{ entity.descripcion }}</td>
                        <td>
                            <a class="btn btn-secondary" href="{{ path('app_zona_cama_show', {'id': entity.id}) }}">
                                <i class="bi bi-search"></i> Detalles
                            </a>
                            <a class="btn btn-success" href="{{ path('app_zona_cama_edit', {'id': entity.id}) }}">
                                <i class="bi bi-pencil-square"></i> Editar
                            </a>
                            <form action="{{ path('app_zona_cama_delete', {'id': entity.id}) }}"
                                  method="POST"
                                  data-controller="confirm-finalizar"
                                  data-action="submit->confirm-finalizar#confirm"
                                  data-confirm-finalizar-title-value="¿Desea eliminar la zona?"
                                  data-confirm-finalizar-text-value="Asegurese que no hay camas asignadas a esta zona."
                                  data-confirm-finalizar-confirm-button-text-value="Sí, eliminar zona"
                                  class="d-inline">

                                <button type="submit" class="btn btn-danger">
                                    <i class="bi bi-calendar-x"></i> Eliminar Zona
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="card-footer clearfix">
            <a href="{{ path('app_zona_cama_new') }}" class="btn btn-primary btn-lg"><i class="bi bi-plus-circle-fill"></i> Nuevo</a>
        </div>
    </div>
{% endblock %}
