<h4>
    Condiciones Registradas
</h4>
<table class="table table-striped dtHere">
    <thead>
    <tr>
        <th>#</th>
        <th>Condicion</th>
        <th>Fecha Aparición</th>
        <th>Fecha Finalizada</th>
        <th>Estado</th>
        <th>Observaciones</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in condiciones %}
        <tr class="align-middle">
            <td>{{ loop.index }}</td>
            <td>{{ entity.condicion.nombre }}</td>
            <td>{{ entity.fechaAparicion|date('d/m/Y', false) }}</td>
            <td>{{ entity.fechaFinalizada ? entity.fechaFinalizada|date('d/m/Y', false) : ' ' }}</td>
            <td>
                {% set badge = entity.pacienteCondicionesEstadosBadgeConfig %}
                <span class="badge rounded-pill {{ badge.class }}">
                    {{ badge.label }}
                </span>
            </td>
            <td>
                {{ entity.observaciones ? entity.observaciones : '--' }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
