{{ form_start(form, {
    'attr': {
        'data-controller': 'submit-once',
        'data-action': 'submit->submit-once#disable'
    }
}) }}
{{ include('base/_form_error_messages.html.twig') }}
<div class="card-body">
    <div class="mb-3">
        {{form_label( form.discapacidad ) }}
        {{form_widget( form.discapacidad ) }}
    </div>
    <div data-controller="percentage-badge" class="mb-4">
        <div class="d-flex justify-content-between align-items-center mb-2">
            {{ form_label(form.porcentaje, null, {'label_attr': {'class': 'form-label mb-0'}}) }}
            <span class="badge rounded-pill"
                  data-percentage-badge-target="badge"
                  style="font-size: 1.1rem; width: 60px;">
              0%
        </span>
        </div>

        {{ form_widget(form.porcentaje) }}

        <div class="d-flex justify-content-between mt-1 small text-muted">
            <span>0% (Mínimo)</span>
            <span>100% (Máximo)</span>
        </div>
    </div>
    <div class="mb-3">
        {{form_label( form.ayudaTecnica ) }}
        {{form_widget( form.ayudaTecnica ) }}
    </div>
    <div class="mb-3">
        {{form_label( form.numeroCertificado ) }}
        {{form_widget( form.numeroCertificado ) }}
    </div>
    <div class="mb-3">
        {{form_label( form.limitacionesFuncionales ) }}
        {{form_widget( form.limitacionesFuncionales ) }}
    </div>
    <div class="mb-3">
        {{form_label( form.congenita ) }}
        {{form_widget( form.congenita ) }}
    </div>
    <div class="mb-3">
        {{form_label( form.observaciones ) }}
        {{form_widget( form.observaciones ) }}
    </div>
</div>

<div class="card-footer">
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-between">
                {#<a class="btn btn-primary" href="{{ path('app_paciente_show', {'id': paciente.id}) }}">
                    <i class="bi bi-arrow-left"></i> Volver
                </a>#}

                <div class="d-flex">
                    <button type="submit" class="btn btn-success" data-submit-once-target="submitButton">
                        {{ button_label|default('Guardar') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
