{% extends 'base.html.twig' %}

{% block title %}Reacciones{% endblock %}

{% block titlewrap %}
    Reacciones
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">Reacciones</li>
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                <i class="bi bi-info-circle-fill me-2"></i> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
<div class="card card-primary card-outline mb-4">
    <div class="card-header">
        <h3 class="card-title">Reacciones Registradas</h3>
    </div>

    <div class="card-body">
        <table class="table table-striped dtHere">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr class="align-middle">
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.descripcion }}</td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('app_reacciones_show', {'id': entity.id}) }}">
                            <i class="bi bi-search"></i> Detalles
                        </a>
                        <a class="btn btn-success" href="{{ path('app_reacciones_edit', {'id': entity.id}) }}">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <button class="btn btn-danger"
                                onclick="softDeleteRecord(
                                    '{{ path('app_reacciones_delete', {'id': entity.id}) }}',
                                    '{{ csrf_token('delete' ~ entity.id) }}'
                                    )">
                            <i class="bi bi-trash"></i> Eliminar
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="card-footer clearfix">
        <a href="{{ path('app_reacciones_new') }}" class="btn btn-primary btn-lg"><i class="bi bi-plus-circle-fill"></i> Nuevo</a>
    </div>

</div>
{% endblock %}
