<h4>
    Inmunizaciones Registradas
    {% if consultum.estadoConsulta.value == 'active' %}
        <a class="btn btn-primary btn-sm" href="{{ path('app_paciente_inmunizaciones_new_consulta', {'id': consultum.id}) }}"><i class="bi bi-plus-circle"></i> Agregar</a>
    {% endif %}
</h4>
<table class="table table-striped dtHere">
    <thead>
    <tr>
        <th>#</th>
        <th>Inmunizacion</th>
        <th>Dosis</th>
        <th>Sitio</th>
        <th>Fabricante</th>
        <th>Reacciones</th>
        <th>Aplicacion</th>
        {% if consultum.estadoConsulta.value == 'active' %}
            <th>Acciones</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for entity in inmunizaciones %}
        <tr class="align-middle">
            <td>{{ loop.index }}</td>
            <td>{{ entity.inmunizacion }}</td>
            <td>
                {% set badge = entity.pacienteInmunizacionesDosisBadgeConfig %}
                <span class="badge rounded-pill {{ badge.class }}">
                    {{ badge.label }}
                </span>
            </td>
            <td>{{ entity.sitioAplicacion }}</td>
            <td>{{ entity.fabricante }}</td>
            <td>
                <ul>
                    {% for reaccion in entity.reacciones %}
                        <li>{{ reaccion.nombre }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ entity.fechaAplicacion|date('d/m/Y', false) }}</td>
            {% if consultum.estadoConsulta.value == 'active' %}
                <td>
                    <a class="btn btn-success" href="{{ path('app_paciente_inmunizaciones_edit_consulta', {'id': entity.id, 'consulta': consultum.id}) }}">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
