<h4>
    Discapacidades Registradas
    {% if consultum.estadoConsulta.value == 'active' %}
        <a class="btn btn-primary btn-sm" href="{{ path('app_paciente_discapacidades_new_consulta', {'id': consultum.id}) }}"><i class="bi bi-plus-circle"></i> Agregar</a>
    {% endif %}
</h4>
<table class="table table-striped dtHere">
    <thead>
    <tr>
        <th>Discapacidad</th>
        <th>Porcentaje</th>
        <th>Nro. Certificado</th>
        <th>Congenita</th>
        <th>Ayuda Tecnica</th>
        <th>Limitaciones Funcionales</th>
        <th>Observaciones</th>
        {% if consultum.estadoConsulta.value == 'active' %}
            <th>Acciones</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for entity in discapacidades %}
        <tr class="align-middle">
            <td>{{ entity.discapacidad }}</td>
            <td>
                {% if entity.porcentaje <= 30 %}
                    <span class="badge rounded-pill text-bg-success">{{ entity.porcentaje }}%</span>
                {% elseif entity.porcentaje <= 60 %}
                    <span class="badge rounded-pill text-bg-warning">{{ entity.porcentaje }}%</span>
                {% else %}
                    <span class="badge rounded-pill text-bg-danger">{{ entity.porcentaje }}%</span>
                {% endif %}

            </td>
            <td>{{ entity.numeroCertificado }}</td>
            <td>{{ entity.congenita ? 'Si':'No' }}</td>
            <td>{{ entity.ayudaTecnica }}</td>
            <td>{{ entity.limitacionesFuncionales }}</td>
            <td>{{ entity.observaciones }}</td>
            {% if consultum.estadoConsulta.value == 'active' %}
                <td>
                    <a class="btn btn-success" href="{{ path('app_paciente_discapacidades_edit_consulta', {'id': entity.id, 'consulta': consultum.id}) }}">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
