<h4>
    Vitales Registradas <a class="btn btn-primary btn-sm" href="{{ path('app_vitales_new_consulta', {'id': consultum    .id}) }}"><i class="bi bi-plus-circle"></i> Agregar</a>
</h4>
<table class="table table-striped dtHere">
    <thead>
    <tr>
        <th>Temperatura</th>
        <th>Presion Arterial</th>
        <th>Frecuencia Cardiaca</th>
        <th>Frecuencia Cardiaca</th>
        <th>SpO2</th>
        <th>Peso</th>
        <th>Altura</th>
        <th>CMB</th>
        <th>IMC</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in consultum.vitales %}
        <tr class="align-middle">
            <td>{{ entity.temperatura|number_format(2, '.', ',') }}</td>
            <td>{{ entity.paSistolica }}/{{ entity.paDiastolica }}</td>
            <td>{{ entity.frecuenciaCardiaca }} lpm</td>
            <td>{{ entity.frecuenciaRespiratoria }}</td>
            <td>{{ entity.spo2 }}</td>
            <td>{{ entity.peso }} kg</td>
            <td>{{ entity.altura }} cm</td>
            <td>{{ entity.cmb }}</td>
            <td>{{ entity.imc }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
