<h4>
    Enfermedades Registradas <a class="btn btn-primary btn-sm" href="{{ path('app_paciente_enfermedades_new_consulta', {'id': consultum.id}) }}"><i class="bi bi-plus-circle"></i> Agregar</a>
</h4>
<table class="table table-striped dtHere">
    <thead>
    <tr>
        <th>Enfermedad</th>
        <th>Diagnostico</th>
        <th>Tipo</th>
        <th>Cronica</th>
        <th>Notas</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in paciente.pacienteEnfermedades %}
        <tr class="align-middle">
            <td>{{ entity.enfermedad.nombre }}</td>
            <td>{{ entity.fechaDiagnostico|date('d/m/Y') }}</td>
            <td>
                {% set badge = entity.pacienteEnfermedadesTiposBadgeConfig %}
                <span class="badge rounded-pill {{ badge.class }}">
                    {{ badge.label }}
                </span>
            </td>
            <td>{{ entity.cronica ? 'Si':'No' }}</td>
            <td>{{ entity.notas }}</td>
            <td>
                <a class="btn btn-success" href="{{ path('app_paciente_enfermedades_edit_consulta', {'id': entity.id}) }}">
                    <i class="bi bi-pencil-square"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
